{{ $CLUSTER := .ClusterName}}
{{ $HOSTNAME := .Hostname}}
{{ $SERVICE := .ServiceName}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="vektor.nyc">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>Gaffer</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/clusters">Gaffer</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    {{if eq $CLUSTER ""}}
                    <li class="active"><a href="#">Clusters </a></li>
                    {{else}}
                    <li><a href="/clusters">Clusters </a></li>
                    {{end}}
                    <hr> 
                    {{range .Response.Clusters}} 
                    {{if eq $CLUSTER .ID}}
                    <li class="active"><a href="/clusters/{{.ID}}">{{.ID}}</a></li>
                    {{else}}
                    <li><a href="/clusters/{{.ID}}">{{.ID}}</a></li>
                    {{end}} 
                    {{end}}
            </div>
            <div class="col-md-offset-2 main">
              {{if eq $CLUSTER ""}}
              <h2 class="page-header">Clusters</h2> 
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Size</th>
                                <th>State</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .Response.Clusters}}
                            <tr>
                                <td><a href="/clusters/{{.ID}}">{{.ID}}</a></td>
                                <td>{{.Size}}</td>
                                {{if eq .State.String "STARTED"}}
                                <td><span class="label label-success">{{.State.String}}</span></td>
                                {{else}}
                                <td><span class="label label-default">{{.State.String}}</span></td>
                                {{end}}
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
                {{else}}
                <div class="row">
                <h2 class="page-header">{{$CLUSTER}}</h2> 
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{.Progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.Progress}}%;">
                      {{.Cluster.State.String}}
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Hosts</h3>
                      </div>
                      <div class="panel-body">
                        <ul class="list-group">
                            {{range .Cluster.Hosts}}
                            {{if .Registered}}
                              <li class="list-group-item list-group-item-primary">
                                <a href="/clusters/{{$CLUSTER}}/{{.Hostname}}">{{.Hostname}}</a>
                              | <span class="label label-success">registered</span>
                              </li>
                              {{else}}
                              <li class="list-group-item list-group-item-warning"><a href="/clusters/{{$CLUSTER}}/{{$HOSTNAME}}">{{$HOSTNAME}}</a></li>
                              {{end}}
                            {{end}}
                        </ul>
                      </div>
                    </div>
                  </div>
                  {{if $HOSTNAME}}
                  <div class="col-md-9">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3> {{.Hostname}} - ({{.Host.ID}})</h3>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-12">
                              <span class="label label-primary">Registered: {{.Host.TimeSinceRegistration}}</span>
                              {{if .Host.TimeSinceLastContacted | .Recent}}
                              <span class="label label-success">Last Contacted: {{.Host.TimeSinceLastContacted}}</span>
                              {{else}}
                              <span class="label label-danger">Last Contacted: {{.Host.TimeSinceLastContacted}}</span>
                              {{end}}
                          </div>
                        </div>
                        <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Service</th>
                                <th>Process</th>
                                <th>Events</th>
                                <th>State</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $key, $value := .Host.Services}}
                            <tr>
                              <td><a href="/clusters/{{$CLUSTER}}/{{$HOSTNAME}}/{{$key}}">{{$key}}</a></td>
                                <td>{{$value.Process.Pid}}</td>
                                <td>{{$value.History| len}}</td>
                                <td>
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                      </div>
                    </div>
                  </div>
                  {{end}}
                  {{if .Service}}
                  <div class="col-md-12">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .Service.History}}
                            <tr>
                                <td>{{.Date}}</td>
                                <td>{{.Message}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                  </div>
                  {{end}}
                </div>
                {{end}}
            </div>
        </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">
        <a href="https://github.com/vektorlab/gaffer">github</a>
        </p>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>
