{{ $CLUSTER := .Cluster}}
{{ $HOST_ID := .HostID }}
{{ $SERVICE_ID := .ServiceID }}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="vektor.nyc">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>Gaffer</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/gaffer">Gaffer</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                  <center><h3><a href="/gaffer">{{$CLUSTER}}</a></h3></center>
                    <hr> 
                    {{range .Hosts}}
                      {{if eq $HOST_ID .ID}}
                      <li class="active"><a href="/gaffer/{{.ID}}">{{.ID}}</a></li>
                      {{else}}
                      <li><a href="/gaffer/{{.ID}}">{{.ID}}</a></li>
                      {{end}}
                    {{end}}
                </ul>
            </div>
            <!--main section-->
          <div class="col-md-offset-2 main">
            {{if .HostDetails}}
            <h2 class="page-header">{{$HOST_ID}}</h2> 
            {{else}}
            <h2 class="page-header">...</h2> 
            {{end}}
              <div class="row"> 
                <!-- overview -->
                {{if .HostDetails}}
                {{else}}
                <div class="progress">
                    {{if eq .State.String "DEGRADED"}}
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{.Progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.Progress}}%;">
                      {{.State.String}}
                      </div>
                      {{else}}
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{.Progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.Progress}}%;">
                      {{.State.String}}
                      </div>
                    {{end}}  
                  </div>
                  {{end}}
                <!-- end overview -->

                <!-- host details -->
                {{if .HostDetails}}
                <div class="col-md-12">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">{{$HOST_ID}}</h3>
                      </div>
                      <div class="panel-body">
                        {{.HostDetails.Host}}
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">SERVICES</h3>
                      </div>
                      <div class="panel-body">
                        <ul class="list-group">
                            {{range .HostDetails.Services}}
                              <li class="list-group-item list-group-item-primary">
                                <a href="/gaffer/{{$HOST_ID}}/{{.ID}}">{{.ID}}</a>
                                | {{if .Process}} <span class="label label-success">RUNNING</span> {{ end}}
                              </li>
                            {{end}}
                        </ul>
                      </div>
                    </div>
                  </div>
                {{end}}
                <!-- end host details -->
                <!-- service details -->
                {{if .ServiceDetails}}
                <div class="col-md-9">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">{{.ServiceDetails.Service.ID}}</h3>
                      </div>
                      <div class="panel-body">
                        {{.ServiceDetails.Service}}
                      </div>
                    </div>
                </div>
                {{end}}
                <!-- end service details -->

              </div>
            </div>
            <!-- end -->
        </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">
        <a href="https://github.com/vektorlab/gaffer">github</a>
        </p>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>
